.search-form{
    margin-top: 3px;
    float: right;

}

input[type=text]{
    padding:7px;
    border:none;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}



button{
    float: right;
    background: #343A40;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    position: relative;
}


i{
    margin-right: 10px
}